<%= form_for task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :details %>
  <%= f.text_area :details, class: "form-control" %>
  <% unless task.new_record?%>
    <%= f.check_box :completed %>
    <%= f.label :completed %>
  <% end %>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
<% end %>
